<!-- <bootstrap-panel>
  <cart title="Shipping Details">Shipping Details Content</cart>
  <cart title="Billing Details"> Billing Details Content</cart>
</bootstrap-panel> -->

<!-- 
  use $event object for event handlers!! 
-->

<!-- 

  <like
    [isActive]="tweet.isLiked"
    [likesCount]="tweet.likesCount"
    (click)="onLikeChange($event)"
    >
  </like> 

-->

<!-- first, define component API -->
<!-- <zippy title="Shipping Details">Shipping Details Content</zippy> -->
<!-- <zippy title="Billing Details">Billing Details Content</zippy> -->
<!-- <contact></contact> -->
<new-course-form></new-course-form>
