<!-- we use property binding with square brackets (dom object) to bind them to fields in our host components -->
<!-- <img [src]="imageUrl" /> <button (click)="onClick()"></button> -->

<!-- property bindings w the dom and host component will not work-->
<!-- in order to use property binding within Angular, you must define the property as an input -->

<!-- Component API -->
<!-- input properties are used to pass input or state to a component -->
<!-- output properties are used to raise events with custom components -->

<favorite (change)="onFavoriteChanged()"></favorite>
