/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid rgb(247, 147, 147);
}
